<div class="block block1">
    <div class="block box">
        <div class="blank"></div>
        <div id="ur_here">
            当前位置: <a href="#">首页</a> <code>&gt;</code> 用户中心
        </div>
    </div>
    <div class="blank"></div>

    <div class="block box">

        <div class="usBox clearfix">
            <div class="usBox_1 f_l">
                <div class="logtitle"></div>
                <form name="formLogin" action="" method="post">
                    <table align="left" border="0" cellpadding="3" cellspacing="5" width="100%">
                        <tbody>
                        <tr>
                            <td align="right" width="15%">用户名</td>
                            <td width="85%"><input name="user_name" size="25" class="inputBg" type="text"/></td>
                        </tr>
                        <tr>
                            <td align="right">密码</td>
                            <td>
                                <input name="user_pwd" size="15" class="inputBg" type="password"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><input value="1" name="remember" id="remember" type="checkbox"/>
                                <label for="remember">请保存我这次的登录信息。</label></td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td align="left">
                                <input name="submit" value="" class="us_Submit" type="submit"/>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><a href="../../../../index.php" class="f3">密码问题找回密码</a>&nbsp;&nbsp;&nbsp;<a href="#" class="f3">注册邮件找回密码</a></td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div class="blank"></div>
            </div>
            <div class="usTxt">
                <div class="regtitle"></div>
                <div style="padding-left: 50px;">
                    <strong>如果您不是会员，请注册</strong> <br/>
                    <strong class="f4">友情提示：</strong><br/>
                    不注册为会员也可在本店购买商品<br/>
                    但注册之后您可以：<br/>
                    1. 保存您的个人资料<br/>
                    2. 收藏您关注的商品<br/>
                    3. 享受会员积分制度<br/>
                    4. 订阅本店商品信息 <br/>
                    <a href="#"><img src="__IMG__/bnt_ur_reg.gif"></a>
                </div>
            </div>
        </div>
    </div>
</div>
