

/*主容器*/
.con-FangDa{
	width: 300px;
	height: auto;
	background-color:#fff;
}
/*正常容器*/
.con-fangDaIMg{
	width: 300px;
	height: 450px;
	position: relative;
	background-color: #454545;
}
.con-fangDaIMg > img{
	width: 100%;
	height:100%
}
/*滑块*/
.magnifyingBegin{
	width: 150px;
	height: 175px;
	left: 0;
	top: 0;
	background-color: #454545;
	opacity: 0.5;
	filter:alpha(opacity=50);
	position: absolute;
	cursor: move;
	display: none;
}
/*放大镜显示区域*/
.magnifyingShow{
	width: 450px;
	height: 514px;
	display: none;
	position: absolute;
	right: -470px;
	top: 0;
	overflow: hidden;
	background-color: #454545;
}
.magnifyingShow > img{
	width: 900px;
	height: 1350px;
	margin-left:0;
	margin-top: 0;
}
/*设置选择图片容器*/
.con-FangDa-ImgList{
	margin-top:10px;
	height:54px;
	width:320px;
	list-style: none;
}
.con-FangDa-ImgList > li{
	margin-right:7px;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
	border: 2px solid #666;
	background-color: #454545;
	text-align:center;
}

.con-FangDa-ImgList > li > img{
	vertical-align:top;
	display:inline;
	width:auto;
	height:50px;
}
.con-FangDa-ImgList > .active{
	border-color:#000;
}